
body {
    background-color: #f7f8fc;

}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Pacifico', cursive !important;
}    

.btn-primary {
        background-color: #74c8f2;
    }